body {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    background: rgba(35, 0, 122, 0.219)
}
ul {
    list-style: none;
    padding: 0;
    margin: 2rem 1rem;
}
h1 {
    flex-basis: auto;
}
    #original {
        display: block;
    }
    #results {
        display: none;
    }
.two-column {
    display: flex;
    flex-flow: row nowrap;
    width: 60%;
    justify-content: center;
    align-content: center;
}
    #score {
        width: auto;
    }
    img {
        max-height: 80vh;
        max-width: auto;
        flex-basis: 1;
    }
.right-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    width: 50%;
}
    .buttons {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin: 2rem 1rem;
    }
    button {
        padding: 1rem 2rem;
        margin: 0.15rem;
        flex-basis: 1;
        width: 50%; 
        border-radius: 10px;
    }
    #score {
        background:rgba(35, 0, 122, 0.219);
        height: 50%;
    }