body {
     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     align-content: center;
     text-align: center;

     background: linear-gradient(#5a5aff 0%, #2828ea 75%,#000044 100%);
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;

     margin: 0;
     height: auto;
     width: 100%;

     color: #000044;
     font-weight: 400;
     font-family: 'Noto Serif', Arial, Helvetica, sans-serif;
}
.misato,
.player,
.total,
.flavor {
     font-weight: 700;
     font-style: italic;
}
header {
     background: transparent;
     width: 100%;
     height: auto;
     margin: auto;
     position: absolute;
     top: 0;
     z-index: 2;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
}
     header a {
          text-decoration: none;
          text-transform: uppercase;
          color: inherit;
          width: auto;
          margin: .5rem;
          padding: .75rem 2rem;
          transition: all .3s ease-in-out;
          border-radius: 5px;
     }
     header a:hover,
     .score h2,
     .score h3,
     .score p {
          background: transparent;
          background-size: 100%;
          background-image: linear-gradient(to right, #7b7bfa, #fff);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -webkit-text-fill-color: transparent;
          -moz-text-fill-color: transparent;
          /* background: #2828ea; */
     }
     header a:hover{
          box-shadow: 3px 3px 3px #0000aa;
          background-image: linear-gradient(to right, #000044, #2828ea);
     }
     .col-container {
     display: flex;
     flex-flow: nowrap;
     justify-content: space-around;
     align-items: center;
     border-radius: 15px;
     margin: auto;
     padding: 4rem;
     width: 80%;
}
.col-left,
.col-right,
.score.col-left,
.score.col-right {
     height: auto;
     width: auto;
     padding: 2rem;
     border-radius: 5%;
     box-shadow: 5px 5px 8px #000044;
}
     .col-left,
     .score.col-left {
          background: linear-gradient(135deg, #000044 0%, #2828ea 60%, #5a5aff 100%);
          width: 50%;
     }
     .col-right,
     .score.col-right {
          background: linear-gradient(330deg, #000044 0%, #2828ea 60%, #5a5aff 100%);
          margin-left: 2rem;
     }
     .img {
          border-radius: 15px;
          box-shadow: 5px 5px 8px #000044;
          max-height: 70vh;
     }
.results {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     text-align: center;
     height: auto;
     width: 100%;
     margin: auto;
     border-radius: 10%;
}
     .count {
          width: 30%;
          padding: .33rem;
     }
     .resultsText{
          display: inline-block;
          width: 60%;
     }
.buttons {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-evenly;
     margin: 1rem;
}
     .buttons button {
          padding: .33rem 2rem;
          border-radius: 10%;
          box-shadow: 3px 3px 3px #0000aa;
          background: linear-gradient(#5a5aff 0%, #2828ea 100%);
          transition: all .5s ease-in-out;
          cursor: pointer;
     }
     .buttons button:hover {
          padding: .33rem 3rem;
          background: linear-gradient(#5a5aff 0%, #0000ac 100%);
          box-shadow: 5px 5px 5px #000044;
     }
.score {
     background-color: #5a5aff;
     box-shadow: 3px 3px 3px #000044;
     border-radius: 5%;
     margin: 1rem;
     height: 50%;
     width: auto;
     display: flex;
     flex-flow: row nowrap;
}
     .score.col-container {
          flex-flow: row nowrap;
          justify-content: center;
          padding: 1rem;
     }
     .score.col-left,
     .score.col-right {
          display: flex;
          flex-flow: column wrap;
          max-width: 50%;
          padding: 1rem 2.5rem;
     }
     .score h2 {text-decoration: underline;}