body {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: auto;
    padding: 0;
    margin: 0;
    background: #000044;
}
ul {
    list-style: none;
    padding: 0;
    margin: 2rem 1rem;
}

    #original {
        display: block;
    }
    #results {
        display: none;
    }
.two-column {
    display: flex;
    flex-flow: row nowrap;
    border-radius: 15px;
    width: 70%;
    padding: 2rem;
    background-color: #1C489A;
    justify-content: space-evenly;
    align-content: center;
}
    #score {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 5px;
        box-shadow: 3px 3px 3px #000;
        height: 50%;
        width: auto;
    }
    img {
        max-height: 80vh;
        max-width: auto;
        flex-basis: 1;
        border-radius: 15px;
        box-shadow: 5px 5px 8px #000044;
    }
.right-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-content: center;
    width: 50%;
    max-height: 80%;
}
    .buttons {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    button {
        padding: 1rem 2rem;
        margin: 0.15rem;
        flex-basis: 1;
        width: 50%; 
        border-radius: 10px;
    }