/* reset removed margins, lists; body min-height, img display, click fonts */
/* CSS Sections: APPEARANCES, TEXT, STRUCTURE, PROJECTS */

#newPalette {
    color: #10451D;
    /* 
    10451D - dark green
    155D27
    1A7431 - green
    208B3A
    25A244 - lighter green
    2DC653
    4AD66D - light green
    6EDE8A
    92E6A7 - seafoam
    B7EFC5
    */
}

/* APPEARANCES */

.style1 {
    background-color: #1A7431;
}
.style2 {
    background-color: #25A244;
}
.style3 {
    background-color: #4AD66D;
}
.style4 {
    background-color: #92E6A7;
}

/* TEXT */
body {
    font-family: 'Alumni Sans Pinstripe', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px gray;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: #25A244;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #4AD66D;
}
a {
    color: #4AD66D;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
    .contents a {
        font-size: 1.5rem;
        padding: 0.25rem 0.5rem;
        margin: 0.15rem 0.25rem;
        text-decoration: none;
    }
a:hover,
h1:hover,
h2:hover,
h3:hover {
    text-shadow: 8px 8px 3px #155D27;
    color: #92E6A7;
    margin: 0 1rem;
}
    .ageCheck h3:hover {
        text-shadow: 8px 8px 3px;
        color: #448aff;
        color: #000;
    }
h1 {
    font-size: 2.5rem;
    font-style: italic;
    transition: all .5s ease-in-out;
    color: #4AD66D;
}
h2 {
    font-size: 2rem;
    padding-left: 1rem;
    opacity: 1;
    transition: all 1s ease-in-out;
    /* overflow: hidden; */
    color: #10451D;
}
h3 {
    font-size: 2rem;
    margin: 1rem;
    overflow: hidden;
    white-space: nowrap;
    transition: all .3s ease-in-out;
}
    h3:hover {
        margin: 1rem;
    }
/* 
    10451D - dark green
    155D27
    1A7431 - green
    208B3A
    25A244 - lighter green
    2DC653
    4AD66D - light green
    6EDE8A
    92E6A7 - seafoam
    B7EFC5
*/

/* STRUCTURE */
body {
    margin: 1rem 2rem;
    min-height: auto;
    scroll-behavior: smooth;
}
main {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
    #main {
        transition: margin-right .5s;
    }
header,
footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem;
}
    .open-contents, 
    .scroll-to-top {
        text-align: right;
        cursor: pointer;
        transition: all .5s;
    }
    .scroll-to-top {
        justify-content: flex-end;
        font-size: 3rem;
        position: fixed;
        bottom: 3rem;
        right: 3rem;
    }
    #footer {
        display: none;
    }
.contents {
    list-style: upper-roman;
    background-color: #111;
    color: #4AD66D;
    height: 100%;
    width: 0;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 0;
    transition: 0.5s;    
    display: flex;
    flex-flow: column;
    scroll-behavior: smooth;
}
    .contents-header {
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-around;
        align-items: center;
        width: auto;
    }
    .contents-header h1 {width: 60%;}
    .close-contents {
        width: 30%;
        background-color: transparent;
        /* margin: 0 0 1rem 0; */
    }
    .close-contents span {
        height: 100%;
        line-height: auto;
        font-size: 5rem;
        background-color: transparent;
    }
    .contents a {
        padding: 1rem 3rem;
        margin: 0.5rem 0;
        text-decoration: none;
        font-size: 1.5rem;
        display: block;
        transition: 0.3s;
    }
    @media screen and (max-height: 450px) {
        .contents {padding: 1rem 0.5rem}
        .contents a {font-size: 1rem}
    }

.project-container {
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    border-radius: 5px;
    border: 1px solid #6EDE8A;
    box-shadow: 3px 3px 8px #10451D;
    background-color: #25A244;
    margin: 1rem;
    padding: 1.75rem;
    transition: all .5s ease-in-out;
}
    .project-container:hover {
        background-color: #2DC653;
        width: 60%
    }
    .project-container:hover h2 {
        opacity: 0;
        line-height: 0;
    }
    .project-container:hover .mCube {
        background: #25A244;
    }
.project {
    display: flex;
    flex-flow: column wrap;
    margin: 2rem;
    justify-content: center;
    align-self: center;
    max-width: 80%;
}
        /* .project-container section {
            max-width: 80%;
            align-self: center;
        } */

/* PROJECTS */
.stopwatch {
    font: 300 italic 1.5rem 'Roboto mono', monospace;
    color: #fff;
    min-width: 60%;
    min-height: 200px;
    padding: 2rem;
    align-self: center;
    align-content: center;
    align-items: center;
    background: #448aff;
    border-radius: 5%;
    transition: all .5s;
}
    .stopwatch:hover {
        padding: 3rem;
        background-color:rgba(68, 255, 118)
    }
    .stopwatch > * {
        border-radius: 5%;
    }
    .stopwatch p {
        background: rgba(255, 255, 255, 0.2);
        padding: 0.5rem 2rem;
        transition: all .5s;
    }
        .stopwatch:hover p {
            background-color: #444;
        }
    .stopwatch span {
        background: #fff;
        color: #0381bb;
        font: 300 3rem 'Roboto mono', monospace;
        margin: 1rem;
        padding: 0.5rem;
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        transition: all .5s;
    }
        .stopwatch:hover span {
            color: #333;
            padding: 1rem;
        }
    .stopwatch-buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
        .stopwatch-buttons button:nth-last-child(2) {
            background: #d23332;
        }
        .stopwatch-buttons button:nth-last-child(1) {
            background: #20b380;
        }
    .stopwatch-buttons button {
        font: 300 1.25rem 'Poppins', sans-serif;
        width: 30%;
        height: auto;
        padding: 0.75rem;
        margin: 0.5rem;
        background: #205e94;
        color: #fff;
        border: none;
        border-radius: 5%;
        cursor: pointer;
    }

.clock {
    font: 300 1.5rem 'Roboto mono', monospace;
    color: #fff;
    width: 40%;
    height: 150px;
    border-radius: 30% 10%;
    box-shadow: inset 5px 2px 2px 0 rgba(68, 138, 255, 0.5),
                inset 2px 5px 8px 0 rgba(68, 255, 118, 0.5),
                2px 5px 8px 0 #448aff,
                5px 2px 8px 0 #44ff76;
    align-self: center;
    align-content: center;
    align-items: center;
    background: #000;
    color: #44ff76;
    transition: all .2s ease-in-out;
    padding: 2rem;
    /* font used in example is Orbitron */
}
    .clock p {
        font-style: italic;
        color: #448aff;
        text-shadow: 1px 1px 3px #44ff76;
    }
    .clock:hover {
        border-radius: 10% 30%;
        height: 200px;
        box-shadow: inset 2px 8px 5px 0 rgba(68, 255, 118, 0.5),
                inset 5px 2px 5px 0 rgba(68, 138, 255, 0.5),
                5px 8px 5px 0 #44ff76,
                2px 5px 8px 0 #448aff;
    }
    
.ageCheck {
    background: rgba(68, 255, 118, 0.5);
    max-width: 60%;
}
    .ageCheckInput input,
    .ageCheckText,
    .tempText {
        text-align: right;
        font-style: italic;
        font-size: 1.5rem;
        font-weight: bold;
        text-shadow: 3px 3px 3px #20b380;
        color: #000;
    }
    .ageCheckText,
    .tempText {
        height: auto;
        width: 100%;
        word-wrap:break-word;
        padding: 1rem;
        background:rgba(68, 138, 255, 0.5);
    }
.tempConvert {
    background:rgba(68, 138, 255, 0.5);
}
.mCube {
    border: 3px solid #155D27;
    border-radius: 10px;
    padding: 1.5rem;
    background: #2DC653;
    transition: all .5s ease-in-out;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: auto;
}
    .mCube-input {
        margin: 0.33rem;
        padding: 0.33rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: space-between;
        text-align: center;
        width: 60%;
    }
    .mCube-input input {
        margin: 3px;
        text-align: center;
        color: #000;
    }
    .mCube-click {cursor: pointer;}
    .mCube .numrandom {width: auto;}
    .mCube .numRandom button {
        height: 1.25rem;
        padding: 1rem;
        box-shadow: 3px 3px 3px #000;
        background: rgba(0, 0, 0, 0.5);
    }
.calc-body {
    width: 60%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-self: center;
    border-radius: 3px;
    background-color: #0381bb;
}
    .calc-body,
    .calc-btn button {
        box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
    }
    .calc-result { /* screen */
        width: 100%;
        height: 5rem;
        background-color: #252525;
        color: #fff;
        border-radius: 3px;
        font-size: 4rem;
        text-align: right;
        padding: 0.15rem 3rem 0.15rem 2rem;
        transition: all .2s ease-in-out;
    }
    .calc-btn { /* all keys */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        padding: 20px;
        color: #000;
    }
        .calc-btn button {
            height: 2rem;
            background-color: #ccc;
            border-radius: 3px;
            border: 1px solid #c4c4c4;
            color: #000;
            /* box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.15); */
            /* text-shadow: 3px 3px rgba(0, 0, 0, 0.4); */
        }
        .calc-btn button:hover {
            background-color: #aeaeae;
        }
        .calc-btn button:active {
            font-weight: 700;
        }
    .calc-top { /* operators */ 
        background-color: #eaeaea;
    }
    #calc-clear { /* all-clear fnc */
        background-color: #f0595f;
        border-color: #b0353a;
        font-weight: 700;
    }
        .calc-clear:hover {
            background-color: #f17377;
        }
    #calc-equals { /* equals */
        background-color: #2e86c0;
        border-color: #337cac;
        color: #fff;
        height: 100%;
        grid-area: 2 / 4 / 6 / 5;
    }
        #calc-equals:hover {
            background-color: #4e9ed4;
        }
