/* TEXT */

body {
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
     font-size: 16px;
     font-weight: 400;
     cursor: url("../bbc-portfolio/pointer.png"), auto;
}
     body:hover {cursor: url("../bbc-portfolio/pointer.png")}
.barcode {
     font-family: 'Libre Barcode 39 Text', sans-serif;
     letter-spacing: 0.33rem;
}
.nav-btn {
     font-family: 'Dosis', 'Montserrat', sans-serif;
     text-decoration: none;
     color: #ededed;
     text-align: center;
}
     .nav-btn.categories {
          text-transform: uppercase;
          color: #0b0ba1;
          border: none;
          width: 10%;
     }
em, span {
     font-style: italic
}
h1 {
     font-size: 2rem;
     font-weight: 600;
}
h2 {
     font-size: 2.5rem;
}
h2,
h3 {
     color: #fff;
     font-weight: 900;
     text-shadow: 5px 5px 3px #000044;
     text-decoration: underline;
     text-decoration-style: dotted #000044;
}
h3, h4, p {
     text-transform: uppercase;
}
p {
     line-height: 1.15rem;
     background: rgba(255, 255, 255, .2);
     padding: 1rem;
}
h4 {
     color: #fff;
     text-shadow: 2px 2px #000044;
     padding: .5rem;
     background: linear-gradient(to right, rgba(0, 0, 69, .5), transparent);
     font-style: italic;
}
     h4::first-letter {
          color: #F00;
          font-style: normal;
     }
.datetime {
     background: #077;
     padding: 0.33rem 0.33rem 0.33rem 0.66rem;
     border-radius: 5px 5px 2px 2px;
}
.datetimeTwo {
     background: #4a0;
     text-align: right;
     padding: 0.33rem 0.66rem 0.33rem 0.33rem;
     border-radius: 2px 2px 5px 5px;
}
.datetime-container p {
     color: #fff;
     width: 12rem;
}

/* STRUCTURE */
body {
     max-width: 100vw;
     max-height: 100vh;
}
.navbar,
.footer {
     max-height: 3rem;
     max-width: 100%;
     padding: 1rem;

     display: flex;
     flex-flow: row nowrap;
     justify-content: space-evenly;
     align-items: center;

     background: linear-gradient(45deg, #2525ab 0%, #000044 100%);
     color: #fff;
     box-shadow: 3px 3px #000088;
}
     .categories {
          padding: 0.25rem 1rem;
          width: 10%;
     }
     .categories option {
          padding: 0.33rem 0.33rem 0.33rem 0;
          margin: 0;
          letter-spacing: 1.1;
     }
     .categories option:hover {
          font-style: italic;
     }
     .navbar .input {
          padding: 1rem 2rem;
          width: 15%;
     }
     .footer {
          background: linear-gradient(45deg, #000044 0%, #2525ab 100%);
          color: #fff;
     }
     .footer a {
          text-decoration: none;
          text-transform: uppercase;
          color: #fff;
     }
main {
     display: flex;
     flex-flow: column nowrap;
     max-width: 100%;
     max-height: 100%;
     padding: 1rem;
     background: #2525ab;
}
.welcome {
     max-width: 100%;
     min-width: 80%;
     height: auto;
     margin: 1rem auto;
     padding: 1rem 2rem;
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-evenly;
     align-items: center;
}
     .welcome,
     .news-container {
          background: rgba(255, 255, 255, 0.1);
          border-radius: 15px;
          box-shadow: 3px 3px 0 3px #000044;
     }
     .welcome h1 {
          width: auto;
          text-align: center;
          text-shadow: rgba(0, 0, 0, 0.5) 5px 5px 10px;
          padding: 0.75rem 2.5rem;
          clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);

          transition: all .5s ease-in-out;
          animation: rainbow 2s ease-in-out infinite;
          /* color: inherit; below is watermelon effect from - https: //codepen.io/bsander/pen/pPpbNm */
          background: linear-gradient(to right, crimson, pink, springgreen);
          background-size: 200% 200%;
          /* background-clip: text;
          -webkit-background-clip: text; */
          color: rgba(255, 255, 255, 1);
     }
          .welcome h1:hover {
               /* color: linear-gradient(); */
               color: rgba(0, 0, 0, 1);
               text-shadow: rgba(0, 0, 0, 0.5) 10px 10px 10px;
          }
          @keyframes rainbow {
               0% {background-position: left;}
               50% {background-position: right;}
               100% {background-position: left;}
          }
     .datetime-container {
          height: auto;
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          border-radius: 10px;
          box-shadow: 3px 3px #000044;
     }
/* .news-container {
     display: flex;
     flex-flow: row nowrap;
     justify-content: flex-start;
     align-content: center;
     margin: 1rem auto;
     height: 100%;
     width: 90%;
} changed news stories to be arranged in grid instead of flexbox */
.news-container {
     display: grid;
     margin: 1rem 0;
     gap: 1rem;
     max-width: 100%;
     padding: 1rem;
}
.news-container.top-stories {
     grid-template-columns: repeat(8, 1fr);
     grid-template-rows: repeat(4, 1fr);
}
     .news-main,
     .news-quadrant,
     .news-other {
          display: flex;
          flex-flow: column nowrap;
          justify-content: flex-end;
     }
     .news-main {
          grid-area: 1 / 1 / 5 / 5;
          max-height: 100%;
          padding: 1rem;
          border-radius: 10px;
          box-shadow: 3px 3px #000044;
          flex-basis: 4;
     }
          .banner {
               align-self: flex-start;
               margin-bottom: auto;
          }
          .news-main p,
          .news-main h4 {
               flex-basis: 1;
               margin: 1rem 0;
          }
     .news-quadrant,
     .news-other {
          height: auto;
          width: auto;
          padding: 1rem;
          border-radius: 10px;
          box-shadow: 3px 3px #000044;
          flex-basis: 1;
     }
     .news-quadrant {
          min-height: 50%;
     }
     .q1 {grid-area: 1 / 5 / 3 / 7;}
     .q2 {grid-area: 1 / 7 / 3 / 9;}
     .q3 {grid-area: 3 / 5 / 5 / 7;}
     .q4 {grid-area: 3 / 7 / 5 / 9;}
.news-container.bottom-stories {
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: 4rem repeat(1, 1fr);
     column-gap: 0;
     justify-content: space-evenly;
}
     .news-other {width: 90%; margin: auto;}
     .o0 {
          grid-area: 1 / 1 / 2 / 7;
          background: #000044;
          margin-bottom: 1rem;
          justify-content: center;
          color: #fff;
     };
     .o1 {grid-area: 2 / 1 / 4 / 2};
     .o2 {grid-area: 2 / 2 / 4 / 3};
     .o3 {grid-area: 2 / 3 / 4 / 4};

/* APPEARANCE */
.nav-btn {
     box-shadow: inset 1px 1px 3px 3px #000044;
     width: auto;
     text-transform: uppercase;
     transition: all .5s ease-in-out;
}
     .nav-btn:hover {
          box-shadow: inset 0 -2px 0 0 #fff;
          font-weight: bold;
     }
     .nav-img {
          max-height: auto;
          max-width: 8%;
          background: #000044;
          align-self: center;
          border-radius: 5px;
     }
     .nav-search {
          width: 25%;
          text-align: right;
          border: none;
          background: #0b0ba1;
          color: #fff;
          font-family: 'Nunito', 'Source Sans Pro', sans-serif;
     }

/* IMAGES */
.news-main {
     background-image: url("../bbc-portfolio/obv.jpg");
     background-size: cover;
}
.news-quadrant.q1 {
     background-image: url("../bbc-portfolio/ddda.jpeg");
     background-size: cover;
}
.news-quadrant.q2 {
     background-image: url("../bbc-portfolio/p5r.jpg");
     background-size: cover;
}
.news-quadrant.q3 {
     background-image: url("../bbc-portfolio/13sar.jpg");
     background-size: cover;
}
.news-quadrant.q4 {
     background-image: url("../bbc-portfolio/dmc5.jpg");
     background-size: cover;
}
.news-other.o1 {
     background-image: url("../bbc-portfolio/arceus.jpg");
     background-size: cover;
}
.news-other.o2 {
     background-image: url("../bbc-portfolio/sk.jpg");
     background-size: cover;
}
.news-other.o3 {
     background-image: url("../bbc-portfolio/dq11.jpg");
     background-size: cover;
}