/* TEXT */

body {
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif;
     font-size: 16px;
     font-weight: 400;
     cursor: url("../bbc-portfolio/pointer.png"), auto;
}
.barcode {
     font-family: 'Libre Barcode 39 Text', sans-serif;
     letter-spacing: 0.33rem;
}
.nav-btn a {
     font-family: 'Dosis', 'Montserrat', sans-serif;
     text-decoration: none;
     color: #ededed;
     cursor: url("../bbc-portfolio/pointer.png"), auto;
}
em, 
span {
     font-style: italic
}
h1 {
     font-size: 2rem;
     font-weight: 600;
}
h2 {
     font-size: 1.25rem;
     font-weight: 600;
}
h3,
p {
     text-transform: uppercase;
}
p {
     line-height: 1.15rem;
}
.datetimeTwo {background: #330; color: #fff};
.datetimeThree {background: #077; color: #fff};

/* STRUCTURE */
body {
     width: 100vw;
     height: 100vh;
     padding: 5rem;
}
header {
     width: 100%;
     height: auto;
}
.navbar {
     max-height: 3rem;
     width: 100%;
     padding: 1rem;

     display: flex;
     flex-flow: row nowrap;
     justify-content: space-evenly;

     background: linear-gradient(45deg, #2525ab 0%, #000044 100%);
     color: #fff;
     box-shadow: 3px 3px 3px #000088;
}
     .categories option {
          padding: 0.33rem;
     }
     .categories option:hover {
          font-style: italic;
     }
main {
     display: flex;
     flex-flow: column nowrap;
     width: 100%;
     height: 100%;
     padding: 3rem;
     background: #2525ab;
}
     .welcome {
          width: 100%;
          height: auto;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
     }

/* APPEARANCE */
.nav-btn {
     border-right: 1px solid #ededed;
     padding: 0 2rem;
     width: auto;
     padding: 1rem;
}
     .nav-img {
          max-height: 1.25rem;
          max-width: 2rem;
     }
     .nav-search {
          border: none;
          background: #000044;
          color: #fff;
          font-family: 'Nunito', 'Source Sans Pro', sans-serif;
     }