/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
    font-family: 'Shadows Into Light', 'Shadows Into Light Two', 'Comforter Brush', sans-serif;
    font-weight: 400;
}
/* TEXT */
header {
    font-weight: 400;
    font-size: 1.25rem;
    font-family: 'Shadows Into Light', 'Nunito', sans-serif;
}
header a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    font-family: 'Shadows Into Light Two', 'Nunito', sans-serif;
}
h1 {
    font-weight: 600;
}
strong,
footer {
    font-family: 'Comforter Brush', 'Shadows Into Light Two', sans-serif;
    padding: 1rem 0;
    line-height: 6rem;
    font-size: 4rem;
}
h2 {
    font-weight: 300;
    font-size: 1.25rem;
    text-align: right;
    margin-right: 5rem;
}
main {
    color: linear-gradient(to bottom rgb(255, 103, 15), rgb(117, 23, 0));
    text-shadow: 1px 1px 2px rgb(221, 0, 0);
}
main strong {
    color: rgb(221, 0, 0);
    text-shadow: 2px 2px 2px rgb(255, 230, 2);
}
/* STYLES */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem 0;
    line-height: 2rem;
    width: 100%;
    border-bottom: 1px solid #aaa;
}
header div {
    width: 30%;
    text-align: center;
}
header input {
    margin-left: 1rem;
    padding-left: 1rem;
    background:rgb(221, 0, 0);
    color: #fff;
}
input::placeholder {
    color: #fff;
}
main {
    display: flex;
    width: 80%;
    height: 60%;
    justify-content: center;
    margin: 5% auto 2% auto;
}
.main-left {
    width: 50%;
    align-self: center;
}
.main-right {
    width: 50%;
    align-self: center;
    padding: 0 auto;
    font-size: 3rem;
    font-family: 'Shadows Into Light Two', 'Nunito', sans-serif;
}
.above-nav {
    margin-bottom: 1rem;
    margin-top: -1rem;
}
nav {
    position: absolute;
}
button {
    padding: .75rem 1.5rem;
    border-radius: 10px;
    transition: all .4s ease-in-out;
}
button:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
    color: #fff;
    font-size: 1.5rem;
    background-image: linear-gradient(to right, rgba(221, 0, 0, 0.9), rgb(117, 23, 0));
}
footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 2rem 0 0;
    margin: 0;
}
/* IMAGES */
img {
    max-width: 100%;
}
header,
button {
    background: linear-gradient(150deg, rgba(221, 0, 0, 0.9), rgba(255, 103, 15, 0.993), rgba(255, 230, 2, 0.9));
}
main {
    background: linear-gradient(45deg, rgba(211, 0, 0, 0.9), rgba(255, 103, 15, 0.9), rgba(255, 230, 2, 0.9));
    border-radius: 10%;
    box-shadow: 3px 3px 6px rgb(255, 230, 2);
}
body {
    background: radial-gradient(circle at 100%, rgb(211, 0, 0), rgb(255, 103, 15) 33%, rgb(255, 230, 2) 66%, rgb(255, 230, 2) 33%);
}