/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* TEXT */
html {
     font-size: 18px;
}
body {
     font-family: "Josefin Sans", "El Messiri", "Lavishly Yours", "Great Vibes", Helvetica, sans-serif;
}
.messiri-text {
     font-family: "El Messiri", Helvetica, sans-serif;
     font-weight: 700;
     font-size: 4rem;
     padding: 1rem 0;
}
.lavish-text {
     font-family: "Lavishly Yours", Helvetica,  sans-serif;
     font-size: 2rem;
     color: #ff8800;
}
.bold-text { /* h3, h4 */
     font-size: 1.5rem;
     font-weight: 500;
}
     .hours h2 {
          font-weight: 500;
     }
.vibes-text {
     font-family: "Great Vibes", Helvetica, sans-serif;
     font-size: 1.25rem;
}
.navbar a,
footer a {
     text-decoration: none;
     color: #000;
}
     .navbar a:hover,
     footer a:hover {
          color: rgb(0, 45, 178);
          transition: all 0.5s;
     }
.reviews {
     font-style: italic;
}
.testimonials * {
     padding-top: 1rem; /* from .testimonials h5 & span & p */
}

/* STRUCTURE */
main {
     display: flex;
     flex-flow: column nowrap;
     width: 100%;
     height: auto;
}
.header {
     /* changed from .hero */
     display: flex;
     flex-flow: row;
     justify-content: flex-end;
     width: 100%;
     height: auto;
     background: #ddd;
     border-bottom: 1px solid #333;
     position: relative;
}
     .navbar {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          width: 66%;
          padding: 1rem 3rem;
          margin-right: 2rem;
          overflow: hidden;
     }      /* removed .nav {position: relative;} */
          .sticky {
               position: fixed;
               top: 0;
               width: 100%;
          }
          .sticky + .content {
               padding-top: 60px;
          }
          .content {padding: 1rem 0;}
.hero, /* changed from .nav */
.socials {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-evenly;
     width: 100%;
     height: auto;
}
     .hero {
          width: 60%;
          height: 80%;
          padding: 7%;
          align-items: flex-start;
     }
     .socials {
          width: 30%;
          padding: 1rem 0;
     }
.about {
     display: flex;
     flex-flow: row nowrap;
     height: 100%;
     width: 100%;
     justify-content: space-between;
     align-items: center;
}
.berries,
.pie {
     width: auto;
}
.specialties {
     display: flex;
     flex-flow: column wrap;
     justify-content: space-around;
     align-content: center;
     align-items: center;
     width: 100%;
     padding: 2rem 0;
}
     .specialties ul {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
     }
.hours-background,
.reviews {
     display: flex;
     flex-flow: column wrap;
     justify-content: space-between;
     align-content: center;
     align-items: center;
     text-align: center;
     width: 50%;
     margin: 2rem 0;
}
     .hours-background {
          background: rgba(255, 255, 255, 0.6);
          border-radius: 5px;
          padding: 2rem 0;
     }
     .hours-background div {
          display: flex;
          flex-flow: column wrap;
          justify-content: space-evenly;
          height: 6rem;
     }
     .hours {
          display: flex;
          justify-content: center;
     }
.times {
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     height: auto;
     width: 80%;
}
     .times div {
          width: 55%;
     }
.testimonials {
     display: flex;
     flex-flow: column nowrap;
     justify-content: space-around;
     align-items: center;
     width: 60%;
}
.reviews {
     width: 100%;
}

/* APPEARANCES */
button {
     background: #ff8800;
     color: #fff;
     width: auto;
}
.hero input {
     width: 60%;
     border-top-left-radius: 5px;
     border-bottom-left-radius: 5px;
}
.hero button {
     padding: 0.5rem 1.5rem;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
}
     .hero input,
     .hero button {
          padding: 0.5rem;
          margin: 0;
     }
.hours i,
.reviews i {
     color: #ff8800;
}
.footer-style {
     background: linear-gradient(315deg, #4143ac, #000077);
     height: auto;
     width: 100%;
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
}
     footer span {
          padding: 1rem 3rem;
          color:rgba(255, 255, 255, 0.6);
     }

/* IMAGES */
.hero {
     background-image: url("./landing.jpg");
     background-size: cover;
     background-repeat: no-repeat;
}
.about-text{
     background-image: url("./pie.jpg");
     background-size: contain;
     background-repeat: no-repeat;
     background-position: -150% 0;
}
.hours {
     background-image: url("./muffins.jpg");
     background-size: cover;
     background-position: 0 20%;
     background-repeat: no-repeat;
}
img {
     max-height: 600px;
}
.berries img {
     padding: auto;
}
.reviews img {
     border-radius: 50%;
     max-height: 10%;
}

/* MEDIA */
@media screen and (min-width: 991px) { /* desktop */

}
@media screen and (min-width: 991px) { /* smaller */
     main {
          display: flex;
          flex-flow: column nowrap;
          width: 100%;
          height: 100%;
     }
}